@media (min-width:992px){
    .hero {
        background-color: #f1f3ff;
        padding-top: 136px; 
        padding-left: 300px;
    }
}

.hero {
    background-color: #f1f3ff;
    padding-top: 136px;
}

.car {
    position:absolute ;
}